/* Global DropZone Styles */
.dropZone {
    border-radius: 50%;
    width: 7vw;
    height: auto;
    padding-top: 7vw;
    transition: all .5s ease-in-out;
}

.dropZone:hover {
    border: 5px solid;
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}

/* Small Desktop/Laptop DropZone Styles */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .dropZone {
        width: 110px;
        padding-top: 110px;
    }
}

/* Tablet/Large Phone DropZone Styles */
@media screen and (min-width: 481px)  and (max-width: 768px) {
    .dropZone {
        width: 65px;
        padding-top: 65px;
    }
}

/* Phone DropZone Styles */
@media screen and (max-width: 480px) {
    .dropZone {
        width: 50px;
        padding-top: 50px;
    }
}