/* Global DropZone Styles */
.dropZone {
    border-radius: 50%;
    width: 7vw;
    height: auto;
    padding-top: 7vw;
    transition: background .5s ease-in-out;
    background-position: center;
}

.dropZone:hover {
    background: var(--white) radial-gradient(circle, transparent 1%, var(--white) 1%) center/15000%;
}

.dropZone:active {
    background-color: var(--white);
    background-size: 100%;
    transition: background .5s ease-in-out;
}

/* Small Desktop/Laptop DropZone Styles */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .dropZone {
        width: 110px;
        padding-top: 110px;
    }
}

/* Tablet/Large Phone DropZone Styles */
@media screen and (min-width: 481px)  and (max-width: 768px) {
    .dropZone {
        width: 65px;
        padding-top: 65px;
    }
}

/* Phone DropZone Styles */
@media screen and (max-width: 480px) {
    .dropZone {
        width: 50px;
        padding-top: 50px;
    }
}