/* Global Styles */
:root {
  --app-background: #f4f5e2;
  --black: #000000;
  --blue: #1e90ff;
  --dark-blue: #000080;
  --green: #228B22;
  --red: #e8503f;
  --white: #ffffff;
  --yellow: #fae673;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background-empty {
  background: var(--app-background) !important;
}

.background-red {
  background: var(--red) !important;
}

.background-yellow {
  background: var(--yellow) !important;
}

.clickable {
  pointer-events: auto !important;
  cursor: pointer !important;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.selected {
  border: 6px solid var(--black) !important;
}

.unclickable {
  pointer-events: none !important;
  cursor: auto !important;
}


/* Tablet/Large Phone Styles */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .selected {
    border: 4px solid var(--black) !important;
  }
}

/* Phone Styles */
@media screen and (max-width: 480px) {
  .selected {
    border: 3px solid var(--black) !important;
  }
}