body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background-empty {
  background-color: #f4f5e2 !important;
}

.background-red {
  background-color: #e8503f !important;
}

.background-yellow {
  background-color: #fae673 !important;
}

.clickable {
  pointer-events: auto !important;
  cursor: pointer !important;
}

.hidden {
  display: none !important;
}

.selected {
  border: 4px solid #000000 !important;
}

.unclickable {
  pointer-events: none !important;
  cursor: auto !important;
}